.site {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-main {
  flex: 1;
  padding-top: var(--header-h, 80px);
  width: 100%;
}

.site-main--marketplace {
  width: 100%;
}

.site-container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

::-webkit-scrollbar {
  display: none;
}